.carrossel__titulo {
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--laranja);
    text-transform: uppercase;
    padding: 1.5rem 0 1rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    padding: 0.5em 0;
}

@media screen and (min-width: 1240px) {
    
    .carrossel__titulo {
        font-size: 26px;
        padding-top: 2em;
    }

    .swiper {
        width: 60%;
    }

    .swiper-wrapper {
        padding: 3em 0;
    }

    .swiper-slide img {
        margin: 0 2em;
        width: 80%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
    }

    .swiper-scrollbar {
        display: none;
    }
}

@media screen and (min-width: 1728px) {

    .carrossel__container {
        display: flex;
        margin: 0 15vw 3em 15vw;
        align-items: center;
    }

    .swiper{
        width: 50%;
        margin-right: 2em;
    }

    .swiper-wrapper {
        padding: 1em 0;
    }
}